doctype html
html
  head
    block head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
  script(src="/javascripts/tether.min.js")
  script(src="/javascripts/jquery-3.2.1.min.js")
  script(src="/javascripts/bootstrap.min.js")    
  block javascript